name: Bandit

on: 
  push:
  pull_request:

jobs: 
  bandit:
    permissions:
      contents: read # for actions/checkout to fetch code
      security-events: write # for github/codeql-action/upload-sarif to upload SARIF results
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Run Bandit Scan
        uses: shundor/python-bandit-scan@main
        with:
            path: "."
            level: high
            confidence: high
            exit_zero: true           
