name: Bandit

on: 
  push:
  pull_request:

jobs: 
  bandit:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Run Bandit Scan
        uses: shundor/bandit-action@v1
        with:
            path: "."
            level: high
            confidence: high
            exit_zero: true           
